<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <title>Purchase Planner | Change Password</title>
  </head>
  <body onload="setInnerHTML()">
    <div id="menu"></div>
    <section class="v_menu_body">
    <div class="body">
     <div class="login">
         <div class="title">Change Password</div>
         <form action="change_password" method="post">
            <div class="field">
               <input type="password" name="opwd" id="opwd" required
                      minlength="8" maxlength="50"
                      oninvalid="this.setCustomValidity('Please enter your old password.')"
                      oninput="this.setCustomValidity('')">
               <label>Old Password</label>
            </div>
            <div class="field">
               <input type="password" name="pwd" id="pwd"
                      required minlength="8" maxlength="50" pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)[A-Za-z@_$\d]{8,}$"
                      oninvalid="this.setCustomValidity('Password should be minimum 8 characters. Only allowed special characters are @_$ and require at least 1 uppercase, 1 lowercase letter and 1 number.')"
                      oninput="this.setCustomValidity('')">
               <label>New Password</label>
            </div>
            <div class="field">
               <input type="password" name="cpwd" id="cpwd" required>
               <label>Confirm New Password</label>
            </div>
            <div class="field">
               <input type="submit" value="Submit" onclick="changePasswordCheck();">
            </div>
            <div class="error" id="error">
                {{ error | safe }}
            </div>
         </form>
      </div>
    </div>
    </section>
    <script type="text/javascript" src="static/js/menu.js" ></script>
    <script type="text/javascript" src="static/js/form_validate.js" ></script>
    <script>
        pwd.onchange = changePasswordCheck;
        cpwd.onkeyup = changePasswordCheck;
    </script>
  </body>
</html>