<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <title>Purchase Planner | Forgot Password</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body onload="setInnerHTML()">
    <div id="menu"></div>
    <section class="h_menu_body">
    <div class="body">
     <div class="login">
         <div class="title">Forgot Password</div>
         <form action="forgot_password" method="post" onsubmit="return captchaCheck();">
            <div class="field">
               <input type="email" name="email" id="email" value="{{ email | safe }}" required
                      minlength="3" maxlength="255" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                      oninvalid="this.setCustomValidity('Please enter your email address.')"
                      oninput="this.setCustomValidity('')">
               <label>Email Address</label>
            </div>
             <div class="field">
               <input type="password" name="pwd" id="pwd"
                      required minlength="8" maxlength="50" pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)[A-Za-z@_$\d]{8,}$"
                      oninvalid="this.setCustomValidity('Password should be minimum 8 characters. Only allowed special characters are @_$ and require at least 1 uppercase, 1 lowercase letter and 1 number.')"
                      oninput="this.setCustomValidity('')">
               <label>Password</label>
            </div>
            <div class="field">
               <input type="password" name="cpwd" id="cpwd" required>
               <label>Confirm Password</label>
            </div>
             <br>
            <div class="g-recaptcha" data-sitekey="{{ captcha_site_key }}"></div>
            <div class="field">
               <input type="submit" value="Submit" onclick="passwordCheck();">
            </div>
            <div class="error" id="error">
                {{ error | safe }}
            </div>
         </form>
      </div>
    </div>
    </section>
    <script type="text/javascript" src="static/js/menu.js" ></script>
    <script type="text/javascript" src="static/js/form_validate.js" ></script>
    <script>
        pwd.onchange = passwordCheck;
        cpwd.onkeyup = passwordCheck;
    </script>
  </body>
</html>