<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <title>Purchase Planner | Data Visualization</title>
  </head>
  <body onload="setInnerHTML()">
    <div id="menu"></div>
    <section class="v_menu_body">
    <div class="body">
    <div class="report">
      <h1>Seasonal Decompose Plots</h1>
      {% for plot_url in plot_urls %}
        <div id="decompose_plot"><img src="{{plot_url}}"></div>
      {% endfor %}
    </div>
    </div>
   </section>
    <script type="text/javascript" src="static/js/menu.js" ></script>
  </body>
</html>
